<div id="container">
	<p>
		This site helps you search flights based on where you are.
		Just key an address where you are and the address where you want to go and we will list all airports
		in the neighbourhood of theses addresses and the flights connecting them.
	</p>
	<p>
		Informations is based on the <a href="http://openflights.org/">Openflight Database</a>.			
	</p>
</div>