<div id="footer_container">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about.html">ABOUT</a></li>
    <li><%= mail_to "flightsearchnearyou@gmail.com", "CONTACT",:encode => :hex  %> </li>
  </ul>
</div>